<!doctype html>
<html lang="en">
<head>
  <title>Game</title>
</head>
<body>
    <div>Let's play a game.</div>
    <form action="/madlib" method="POST">
        <label>person</label>
        <input type="text" name="person">
        <label>color</label>
        <select name= "color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>         
        </select>
        <label>noun</label>
        <input type="text" name="noun">
        <label>adjective</label>
        <input type="text" name="adjective">
        <button type="submit">submit</button>
    </form>
</body>
</html>